/* Empty. Add your own CSS if you like */
img {
	max-width: 100%;
}
h4 {
	text-align: center;
}
.colors {
	text-align: center;
}
.color {
	width: 25%;
	display: inline-block;
	height: 50px;
	margin: auto;
	text-align: center;
}
.color#c1 {
	width: 120px;
}